<template>
    <div>
        <template v-if="song">
            <h1>
                {{ title }}
                <span class="transposed" v-if="transpose != 0">
                    transposed {{ song.key }} -> {{ song.transposedKey }}
                </span>
            </h1>

            <p class="author text-muted">Author: {{ song.author }}</p>
            <ul class="song-customizations list-unstyled">
                <li class="key list-inline-item text-muted">Key: <strong>{{ song.key }} <!--<< >> mutations coming--></strong></li>
                <li class="capo list-inline-item text-muted">Capo: <strong>{{ song.capo }} <!-- (sung in x coming ) --></strong></li>
                <li class="sequence list-inline-item text-muted">Sequence: <strong>{{ song.sequence }} </strong></li>
            </ul>

            <song-content v-bind="{song: song, transpose: transpose}"></song-content>

        </template>
        <template v-else>
            <h1>Loading Song "{{ title }}"</h1>
        </template>
    </div>
</template>

<script src="./song.ts"></script>
<style src="./song.css"></style>