
body {
    /*padding-top: 50px;*/
}

@media (min-width: 1600px) {
    .container {
        max-width: 1570px;
    }
}
@media (min-width: 1700px) {
    .container {
        max-width: 1670px;
    }
}
@media (min-width: 1800px) {
    .container {
        max-width: 1770px;
    }
}