@{
    ViewData["Title"] = "Home Page";
}

    <div id='app-root'>
        <div tabindex="0" aria-label="Loading" class="vld-overlay is-active is-full-page">
            <div class="vld-background" style="background: rgb(255, 255, 255);"></div>
            <div class="vld-icon">
                <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

    </div>
<style>
    /* https://ankurk91.github.io/vue-loading-overlay/ */
    .vld-overlay {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        align-items: center;
        display: none;
        justify-content: center;
        overflow: hidden;
        z-index: 1
    }

    .vld-overlay.is-active {
        display: flex
    }

    .vld-overlay.is-full-page {
        z-index: 999;
        position: fixed
    }

    .vld-overlay .vld-background {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        background: #fff;
        opacity: 0.5
    }

    .vld-overlay .vld-icon, .vld-parent {
        position: relative
    }
</style>
@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
