<template>
    <div v-if="songs" class="table-responsive">

        <table id="songs-results-list" class="table table-sm table-striped table-condensed table-hover">
            <!-- uncomment after hiding via CSS when screen readers are not in play? <caption>List of songs</caption>-->
            <thead>
                <tr>
                    <th scope="col">
                        Title &amp;<br />Author
                    </th>
                    <th scope="col">
                        Key
                    </th>
                    <th scope="col">
                        Capo
                    </th>
                    <th scope="col" class="hidden">
                        Hymn #
                    </th>
                    <th scope="col">
                        Themes
                    </th>
                    <th scope="col">
                        Created
                    </th>
                    <th scope="col">
                        Updated
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="song in songs" :key="song.id" :song="song" class="">
                    <td>
                        <router-link :to="'/songs/view/' +  song.id + '/' + song.title" :exact="true" class="text-primary">{{ song.title }}</router-link><br />
                        <em class="text-muted">{{ song.author }}</em>
                    </td>
                    <td>
                        {{ song.key }}
                    </td>
                    <td>
                        {{ song.capo }}
                    </td>
                    <td class="hidden">
                        {{ song.hymnNumber }}
                    </td>
                    <td>
                        <template v-for="theme in song.themes">
                            <router-link :to="'/Songs/tagged-with?tag=' + theme" class="badge badge-secondary">{{ theme }}</router-link>
                        </template>
                    </td>
                    <td>
                        {{ song.createdDateUTC | shortDate }}
                    </td>
                    <td>
                        {{ song.lastUpdatedDateUTC | shortDate }}
                    </td>
                    <td>
                        <router-link :to="'/song/edit/' +  song.id + '/' + song.title" :exact="true" class="text-primary">Edit</router-link> |
                        <router-link :to="'/song/delete/' +  song.id + '/' + song.title" :exact="true" class="text-primary">Delete</router-link>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<style src="./SongResultsTable.css" ></style>
<script src="./SongResultsTable.ts"></script>
