<template>
    <h1>
        <template v-if="songs">
            <template v-if="isAll">
                All {{ songs ? songs.length : '' }}
                {{ (songs ? songs.length : '') | pluralize('Song', 'Songs') }}
                <template v-if="searchParameters && searchParameters.text && searchParameters.text.length">

                </template>
            </template>
            <template v-else-if="isTags">
                All {{ songs ? songs.length : '' }}
                {{ (songs ? songs.length : '') | pluralize('Song', 'Songs') }}

            </template>
        </template>
        <template v-else>
            Please Wait...
        </template>
    </h1>
</template>

<style src="./SongResultsHeader.css" ></style>
<script src="./SongResultsHeader.ts"></script>
